/.ghc*
/dist*
/.stack*
/configs*
/source_maps*
/stack.yaml.lock
/src_solid
/log.log
/tmp
/template/testing.kbd
.stack-work
/bin/
result
/Setup.hs
/cabal.project.local
/cabal.project.local~
/kmonad.cabal.save0
/notes_to_self.note
/notes.org
